@keyframes abhainnProgressBar {
	0% { width: 0; }
	100% { width: 100%; }
}

.wp-block-abhainn-slider {
	position: relative;
	overflow: hidden;

	&.no-scrollbar {

		& .slider {
			scrollbar-width: none;
		}
	}

	& .slider {
		align-items: center;
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
	}

	& .slider__button {
		background: rgba(0, 0, 0, 0.5);
		border: none;
		color: white;
		cursor: pointer;
		display: none;
		font-size: 1.5rem;
		padding: 10px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;

		@media (--bp-medium) {
			display: block;
		}

		&.previous {
			left: 10px;
		}

		&.next {
			right: 10px;
		}
	}

	& .slider__slide {
		flex: 0 0 100%;
		position: relative;
		scroll-snap-align: start;
	}

	& .scroll-markers {
		margin: var(--wp--preset--spacing--40) auto;
		max-width: 50%;
		width: fit-content;

		@media (--bp-medium) {
			bottom: 10px;
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
		}

		& input[type="radio"] {
			display: none;
			transition: all .3s;

			&:checked + label {

				&::after {
					animation: abhainnProgressBar var(--abhainn-progress-duration) linear;
					animation-fill-mode: both;
					background-color: var(--wp--preset--color--accent);
					content: " ";
					display: block;
					height: 100%;
				}
			}

			& + label {
				background-color: var(--wp--preset--color--text-default);
				border: none;
				display: inline-block;
				height: 5px;
				position: relative;
				width: 50px;
			}
		}
	}

	&.is-style-radio .scroll-markers input[type="radio"] {

		&:checked + label {
			background-color: var(--wp--preset--color--accent);
			border-radius: 50%;
			opacity: 1;

			&::after {
				display: none;
			}
		}

		& + label {
			background-color: var(--wp--preset--color--text-default);
			border: none;
			border-radius: 50%;
			display: inline-block;
			height: 20px;
			opacity: .5;
			width: 20px;
		}
	}
}
