.wp-block-abhainn-carousel {
	position: relative;
	overflow: hidden;

	&.no-scrollbar {

		& .carousel {
			scrollbar-width: none;
		}
	}

	& .carousel {
		align-items: center;
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
	}

	& .carousel__button {
		background: rgba(0, 0, 0, 0.5);
		border: none;
		color: white;
		cursor: pointer;
		font-size: 1.5rem;
		padding: 10px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;

		&.previous {
			left: 10px;
		}

		&.next {
			right: 10px;
		}
	}

	& .carousel__slide {
		flex: 0 0 100%;
		position: relative;
		scroll-snap-align: start;
	}

	& .scroll-markers {
		bottom: 10px;
		left: 0;
		margin-inline: auto;
		position: absolute;
		right: 0;
		width: fit-content;

		& input[type="radio"] {
			display: none;
			transition: all .3s;
		}

		&.is-style-dots input[type="radio"] {

			&:checked + label {
				background-color: var(--wp--preset--color--primary);
				opacity: 1;
			}

			& + label {
				background-color: var(--wp--preset--color--text-default);
				border: none;
				border-radius: 50%;
				display: inline-block;
				height: 20px;
				opacity: .5;
				width: 20px;
			}
		}
	}
}
